In [2]:
import numpy as np
import pandas as pd

# Pandas Series

In [13]:
data = [1776, 1867, 1821]
index = ['USA', 'Canada', 'Mexico']
series = pd.Series(data = data, index = index)
series

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [14]:
ages = {
    'Sam': 6,
    'Robin' : 10,
    'Rocket': 8
}

In [16]:
ages_series = pd.Series(ages, dtype = float)
ages_series

Sam        6.0
Robin     10.0
Rocket     8.0
dtype: float64

In [17]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [18]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [29]:
print(sales_q1.values)
print(sales_q1.keys())

[ 80 450 200 250]
Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [33]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [37]:
sales_q1.add(other = sales_q2, fill_value = 0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64